@media (min-width: 1025px) {

  body {

    .homeScreen {

      .projects {

        .project-container {

          &:nth-child(3) {

            opacity: 1 !important;

          }

        }

      }

    }

  }

}

@media (max-width: 1023px) {

  body {

    .homeScreen {

      .projects {

        .project-container {

          width: 50%;

        }

      }

    }

  }

}

@media (min-width: 768px) {

  body {

    .homeScreen {

      .projects {

        .project-container {

          &:nth-child(2) {

            opacity: 1 !important;

          }

        }

      }

    }

  }

}


@media (max-width: 767px) {


  body {

    .homeScreen {

      .projects {

        .project-container {

          padding: 3%;
          width: 100%;

        }

      }

    }

  }

}

@media (max-width: 500px) {


  body {

    .homeScreen {

      .logo {

        height: 60vh;
        width: 70vw;

      }

    }

  }

}


@media (hover:on-demand) {

  body {

    .container {

      header {

        nav {

          button, a {

            &:hover {

              -o-transition-property: none !important;
              -moz-transition-property: none !important;
              -ms-transition-property: none !important;
              -webkit-transition-property: none !important;
              transition-property: none !important;

              -o-transform: none !important;
              -moz-transform: none !important;
              -ms-transform: none !important;
              -webkit-transform: none !important;
              transform: none !important;

              -webkit-animation: none !important;
              -moz-animation: none !important;
              -o-animation: none !important;
              -ms-animation: none !important;
              animation: none !important;

            }

          }

        }

      }

    }

  }

}